
{% extends "auctions/base.html" %}

{% block content %}
    <h1>Closed Auctions</h1> 
    {% for item in items %}
    <article class="media content-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <a href="{% url 'auction-detail' item.id %}">
                            <img id="img" class="hoverable img-thumbnail" src="{{item.image.url}}">
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="media-body">
                            <h2><a class="article-title text-primary" href="{% url 'auction-detail' item.id %}">{{ item.title }}</a></h2>
                            <p class="text-muted text-left">{{ item.condition }}</p>
                            <p class="article-content text-muted text-center">{{ item.description|slice:":125" }}</p>
                            <h4 class="article-content"> <b>&pound  {{item.price}}</b></h4>
                            <h5 class="article-bid">{{ item.amount_of_bids }} bids</h5>
                            </br>
                            <h5 class="text-muted text-right">Ended:</h2>
                            <p class="text-muted text-right">
                                {{item.date_expired}}
                            </p>
                            {% if item.winnerBid %}
                                <p>
                                    Winner: {{item.winnerBid.user.username}}
                                </p>
                            {% else %}
                                <p>
                                    No winner
                                </p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}

    {% include 'accounts/pagination_footer.html' %}
    
{% endblock content %}