
{% extends "auctions/base.html" %}

{% block content %}

    <div >
        <form class="form-inline active-cyan-4">
            <input id="usrInput" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search for Auctions"
                aria-label="Search">
            <i class="fas fa-search" aria-hidden="false"></i>
        </form>
    </div>

    <br>

    <!-- filterable content with ajax -->
    <div id="filterableAuctions" >
        {% include 'auctions/auctions-results-partial.html' %}
    </div>

{% endblock content %}

