
{% extends "auctions/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
          <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
          </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ updateUserForm | crispy }} 
                {{ updateProfileForm | crispy }} <!-- format the form object passed in from the views.py -->
            </fieldset>   
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div> 
        </form>

    </div>

    {% if myWins %}
    <div class="content-section">
      <h2 class="account-heading">Auctions won</h2>
      <table class="table"> 
          <tr>
              <th>Title</th>
              <th>Owner</th>
              <th>Price</th>
            </tr>
      {% for auction in myWins %}
        <tr>
          
          <td><a class="article-title text-primary" href="{% url 'auction-detail' auction.id %}">{{auction.title}}</a></td>
          <td><a class="mr-2" href="{% url 'account-auctions' auction.owner.username %}">{{auction.owner.username}}</a></td>
          <td>£{{auction.price}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    {% endif %}
{% endblock content %}